
body {
  background-color: #2c343b;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #fff;
  margin: 0px;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  text-align: left;
}

nav ul {
  display: inline-block;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #2c343b;
  font-weight: bold;
  display: block;
}

nav ul li a img {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 75px;
  padding: 15px;
  margin: 10px;
}

nav ul li a img:hover {
  background-color: #D9D6C0;
  color: #2c343b;
}

/*Content*/

.container {
  text-align: center;
  margin: 50px 0;
}

.container h2 {
  color: #fff;
  text-transform: uppercase;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: 30px;
  line-height: 29px;
}

.container p {
  color: #FFFCE2;
  font-size: 20px;
}

.container p span {
   color: #E65B53;
}
.content {
  float: left;
  display: block;
  clear: both;
  width: 100%;
  padding: 45px 2px;
  background-color: #fff;
}
.content .left {
  float: left;
  width: 50%;
  display: inline-block;
}
.inner-block {
  float: right;
}
.content .left .highlight {
  max-width: 550px;
  margin: 0 auto;
}
.content .left .highlight article {
  margin-top: 25px;
}
.content .left .highlight .article-summary {
  font-size: 14px;
  line-height: 1.5em;
  padding-bottom: 25px;
}
.link {
  display: block;
  clear: both;
  margin: 0 auto;
  margin-bottom: 250px;
  text-align: center;
  max-width: 450px;
  height: 35px;
}
.link a {
  display: block;
  background-color: #E65B53;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 7px;
}
.link a:hover {
  background-color: #4F4F4F;
}
.content .left .highlight h4 {
  text-align: center;
  font-size: 20px;
  margin: 0;
  color: #2c343b;
}
.content .right {
  float: left;
  width: 50%;
  display: inline-block;
}
.content .right .inner-block {
  float: left;
}
.content .right ul {
  margin-top: 25px;
}
.content .right ul li {
  list-style: none;
  color: #2c343b;
  padding-top: 15px;
}
.content .right .highlight {
  max-width: 550px;
  margin: 0 auto;
}
.content .right .highlight img {
  width: 225px;
  height: 225px;
  object-fit: cover;
  cursor: pointer;
  transition: all .5s ease;
}
.content .right .highlight img:hover {
  width: 225px;
  height: 225px;
  object-fit: scale-down;
} 

.content .right .highlight ul li {
  display: inline-block;
  padding: 0;
}