.relogio
{
	width: 600px;
	height:600px;
	border:solid 20px #000;
	border-radius: 50%;
	margin: 100px auto;
	position: relative;
}

#segundo{
	width: 6px;
	height:250px;
	background-color:#BC0A24;
	margin: 50px 297px;
	position: absolute;
	box-shadow: 1px 1px 2px;
	transform-origin: 3px bottom;
}

#minuto{
	width: 16px;
	height: 250px;
	background-color: #000;
	margin: 50px 292px;
	padding: absolute;
	box-shadow: 1px 1px 2px;
	border-radius: 10px;
	transform-origin: 8px bottom;
}

#hora{
	width: 16px;
	height: 200px;
	background-color: #000;
	margin: -258px 292px;
	padding: absolute;
	box-shadow: 1px 1px 2px;
	border-radius: 10px;
	transform-origin: 8px bottom;
}

#centro{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 244px 289px;
	background-color: #000;
	position: absolute;
	box-shadow: 1px 1px 5px;
}







