.relogio{
	width:600px;
	height:600px;
	border: solid 40px #000;
	border-radius:50%;
	margin: 100px auto;
	position: relative;
}

#minuto{
	width: 16px;
	height: 250px;
	background-color: #000;
	margin: 50px 292px;
	transform-origin: 8px bottom;
	position: absolute;
	box-shadow: 1px 1px 2px;
	border-radius: 10px;

}
#hora{
	width: 16px;
	height: 200px;
	background-color:#000;
	margin:105px 292px;
	transform-origin: 8px bottom;
	position:absolute;
	box-shadow: 1px 1px 2px;
	border-radius: 10px;
}

#segundo{
	width: 6px;
	height: 250px;
	background-color:#BC0A24;
	margin: 50px 297px;
	transform-origin: 3px bottom;
	position:absolute;
	box-shadow: 1px 1px 2px;

}
#centro{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 285px 285px;
	background-color: #000;
	position: absolute;
	z-index: 1;
	box-shadow: 1px 1px 5px;
}